$background-main: #D75D6A;
$background-login: #FAF5F1;
$color-font-light: #E6E6E6;
$color-font-dark: #111111;
$color-box-shadow: #9D444E;

$break-small: 360px;
$break-large: 1200px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: $background-main;
}


label {
  color: #D75D6A;
}

h3 {
  color: $background-main;
}

hr {
  background-color: $background-main;
  height: 1px;

  .light {
    background-color: $color-font-light;
  }
}

.btn:hover {

  color: $color-font-light;
  background-color: black;

}

.link {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $background-main;
}

.height-center {
  margin-top: 250px;
  height: 400px;
}

.form-control.input-custom:focus {
  border-color: $background-main;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $background-main;
}

.btn.btn-login{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: $background-main;
  background-color: $background-login;
  border-color: $background-main;
}

.btn.btn-login.btn-custom:hover {
  color: $background-login;
  background-color: $background-main;
  border-color: $background-login;
}

.login-box,
.register-box {
  background-color: $background-login;
  border-color: $color-box-shadow;
  color: $color-font-dark;
  box-shadow: 0px 0px 15px $color-box-shadow;
  border-style: solid;
  border-width: 1px;
  width: 360px;
  margin: 7% auto;
}

@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 50px;
  }
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
